:root {
  font: 500 16px 'Open Sans', sans-serif;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  max-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  position: relative;
  background: #ffe5e5;
  color: black;
  margin: 0;
  padding: 0px 0px 63px;
  overflow: auto;
}

html, body {
  cursor: url("http://cur.cursors-4u.net/nature/nat-11/nat1021.cur"), default;
}

/* NAVS */

header {
  padding: 5px 10px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

a:hover, button:hover {
  color:	#b19cd9;
  cursor: pointer;
}

header h1 {
  font-size: 32px;
  padding: 0;
  margin: 0;
  color: black;
}

.header-nav {
  list-style-type: none;  
  display: flex;
  margin: 0;
}

.header-nav li {
  padding: 5px 10px;
  font-weight: 600;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 14px;
  background: hsl(39, 100%, 87%);
  font-size: 18px;
  text-align: center;
}

footer nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

footer nav a {
  padding: 0px 10px;
  color: black;
}

/* MAIN */

main {
  padding: 30px;
}

main h2 {
  font-size: 28px;
  color: black;
  text-decoration: none;
}

main ul li{
  list-style: none;
  font-size: 22px;
}

main ul li:before{
  content: '';
  background-position-y: center;
  display: inline-block;
  height: 1em;
  width: 1em;
  background-image: url("https://cdn3.iconfinder.com/data/icons/animals-39/64/_Sheep-128.png");
  background-size:contain;
  background-repeat:no-repeat; 
}

main ul li a {
  color: black;
}
